@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  display: flex;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  padding: 0 16px;
  gap: 32px;
  backdrop-filter: blur(12px);
}
.logo {
  height: 40px;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 4px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  display: none;
  background: #0f0b12;
  min-width: 220px;
  padding: 8px 0;
  border-radius: 8px;
  opacity: 0;
  transition: 0.2s ease;
  margin-top: 10px;
  visibility: hidden;
}

.dropdown-menu a {
  display: block;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.suron-AI {
  text-decoration: none;
  color: white;
}

.demo-button {
  margin-left: auto;
  background-color: #513ef8;
  color: white;
  height: 35px;
  width: 125px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
